
\.vagrant/machines/devmachine/virtualbox/action_provision

\.vagrant/machines/devmachine/virtualbox/action_set_name

\.vagrant/machines/devmachine/virtualbox/creator_uid

\.vagrant/machines/devmachine/virtualbox/id

\.vagrant/machines/devmachine/virtualbox/index_uuid

\.vagrant/machines/devmachine/virtualbox/private_key

\.vagrant/machines/devmachine/virtualbox/synced_folders

\.vagrant/machines/devmachine/virtualbox/vagrant_cwd

playbook\.retry

ubuntu-xenial-16\.04-cloudimg-console\.log
